In [1]:
IntegerNumbers = [0,1,2,3,4,5,6,7,8,9]
size = len(IntegerNumbers)
reservoir = [0]*size
for i in range(len(IntegerNumbers)):
    reservoir[i] = IntegerNumbers[i]**2
reservoir

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
reservoir = []
for i in range(size):
    reservoir.append(IntegerNumbers[i]**2)
reservoir

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
#List comprehension
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [5]:
[(x,y) 
for x in range(2)
for y in['a','b','c']]

[(0, 'a'), (0, 'b'), (0, 'c'), (1, 'a'), (1, 'b'), (1, 'c')]

In [6]:
even_numbers = [val for val in range(10) if val%2==0]
even_numbers

[0, 2, 4, 6, 8]

In [7]:
[i**2 if i%2==0 else i**3 for i in range(10)]

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

In [8]:
#dictionary comprehension
    #has a key and a value
wordList = ['apple','pear']

In [9]:
#structure of map(function,list)
def square(x): return x**2
list(map(square,range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
list(map(lambda x: x**2,range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
list(map(lambda word:len(word),'I am very smart'.split()))

[1, 2, 4, 5]

In [12]:
#structure of filter(function,list)
    #retrieve a specific value based on the function criteria

In [13]:
wordList = ['sidi','Moise','Stephanie','Latisha','sandra']
list(filter(lambda w:w[0]=='s' or w[0]=='S',wordList))

#startswith
#endswith

['sidi', 'Stephanie', 'sandra']

In [14]:
#reduce(function, list)
#function has to have two variables
import functools
functools.reduce(lambda x,y:x+y,[1,2,3,4,5])
#cascades the function operation

15

In [15]:
list = [1,2,3,4,5]
sum = 0
for i in range(len(list)):
    sum = sum + list[i]
sum

15

In [16]:
functools.reduce(lambda x,y:x+y,[1,2,3,4,5],10)

25

In [17]:
#generate 100 random numbers from 200 to 455
    #then select all numbers that are divisible by 3
    #square those numbers
    #filter all elements that are divisible by 5
    #then sum them all up

#create random list
x1 = 200
x2 = 455
from random import randint
rand=[randint(x1,x2) for _ in range(100)]

functools.reduce(lambda x,y:x+y,(filter(lambda w:w%5==0,map(lambda x: x**2,(filter(lambda x:x%3==0,rand))))))

906750

In [18]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [19]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\magu\anaconda3\lib\site-packages
Requirement already satisfied: six in c:\users\magu\anaconda3\lib\site-packages (from nltk)

In [20]:
#words are called tokens
import nltk
from nltk.util import ngrams

In [21]:
#inflection - add a suffix but retains category
#derivations - add suffix changes category

In [22]:
from nltk.tokenize import word_tokenize
word_tokenize('Hello World')

['Hello', 'World']

In [23]:
message = 'We like, to party.'
message.split()
#the default is space but can specify how

['We', 'like,', 'to', 'party.']

In [24]:
word_tokenize('We like, to party.')

['We', 'like', ',', 'to', 'party', '.']

In [25]:
#Sentence tokenization
from nltk.tokenize import sent_tokenize
text = " Welcome readers. I hope you, find it interesting? Please do reply."
print(sent_tokenize(text))

[' Welcome readers.', 'I hope you, find it interesting?', 'Please do reply.']

In [26]:
#regular expression = a string that is used to search for patterns

In [27]:
from nltk.tokenize import TreebankWordTokenizer
tokenizer = TreebankWordTokenizer()
print(tokenizer.tokenize("Have a nice day. I hope you find the book interesting. 0.00"))
print(tokenizer.tokenize("Don't hesitate to ask questions."))
print(tokenizer.tokenize("I am selling my car for $2,220.34 . Do you have money."))
    #need to add a space before the period to separate out the period from the number. Without the space the period will be part of the string.

['Have', 'a', 'nice', 'day.', 'I', 'hope', 'you', 'find', 'the', 'book', 'interesting.', '0.00']
['Do', "n't", 'hesitate', 'to', 'ask', 'questions', '.']
['I', 'am', 'selling', 'my', 'car', 'for', '$', '2,220.34', '.', 'Do', 'you', 'have', 'money', '.']

In [28]:
from nltk.tokenize import WordPunctTokenizer
tokenizer = WordPunctTokenizer()
print(tokenizer.tokenize("Don't hesitate to ask questions"))

['Don', "'", 't', 'hesitate', 'to', 'ask', 'questions']

In [29]:
from nltk.tokenize import RegexpTokenizer
sent = "She secures 90.56% in class x. She is a meritorious student. Sheqas"
capt = RegexpTokenizer('[A-Z]\w+') #this is the regular expression
capt.tokenize(sent)

['She', 'She', 'Sheqas']

In [30]:
from nltk.tokenize import BlanklineTokenizer
sent = "She secures 90.56% in class x. She is a meritorious student. Sheqas"
BlanklineTokenizer().tokenize(sent)

['She secures 90.56% in class x. She is a meritorious student. Sheqas']

In [31]:
#Stemmer & Lemmatizer
    #Stemmer - determines the root of a word
    #Lemmatizer - determined root of a word based on grammar
from nltk.stem import PorterStemmer
stemmerporter = PorterStemmer()

In [32]:
print(stemmerporter.stem('talking'))
print(stemmerporter.stem('singing'))
print(stemmerporter.stem('is'))
print(stemmerporter.stem('happy'))
print(stemmerporter.stem('happiness'))

talk
sing
is
happi
happi

In [33]:
words = ['houses','trains','pens','cars']
single = [stemmerporter.stem(word) for word in words]
single

['hous', 'train', 'pen', 'car']

In [34]:
year_score = [(2015,200),(2014,175),(2001,875),(1977,247)]
sorted(year_score,key = lambda x: x[0])[1]
max(year_score,key = lambda x: x[1])

(2001, 875)

In [35]:
from nltk.stem import RegexpStemmer
stemmerreg = RegexpStemmer('ing')
print(stemmerreg.stem('working'))
print(stemmerreg.stem('happiness'))
print(stemmerreg.stem('pairing'))

work
happiness
pair

In [36]:
from nltk.stem import SnowballStemmer
print (SnowballStemmer.languages)
spanishstemmer = SnowballStemmer('spanish')
print(spanishstemmer.stem('comiendo'))

('danish', 'dutch', 'english', 'finnish', 'french', 'german', 'hungarian', 'italian', 'norwegian', 'porter', 'portuguese', 'romanian', 'russian', 'spanish', 'swedish')
com

In [37]:
from nltk.stem import WordNetLemmatizer
lemmatizer_output = WordNetLemmatizer()
print(lemmatizer_output.lemmatize('working', pos='v'))
print(lemmatizer_output.lemmatize('ran', pos='v'))
print(lemmatizer_output.lemmatize('took', pos='v'))
print(lemmatizer_output.lemmatize('happiness'))
print(lemmatizer_output.lemmatize('took'))

work
run
take
happiness
took

In [47]:
import nltk
from nltk import word_tokenize
text = word_tokenize("It is a pleasant day today")
out = nltk.pos_tag(text)

#Goal is to print out the list of words taggged as a verb
    #[t for t in out if out[1] == 'VBZ']
    #newlist = [item for items in newlist for item in items]
        #https://stackoverflow.com/questions/20112776/how-do-i-flatten-a-list-of-lists-nested-lists

[]

In [39]:
filename = open('textfile.txt','w')
filename.write('Tupac is the greatest rapper ever.')
filename.write('Two scoops of raisins in every box.')
filename.close()

In [52]:
with open('textfile.txt','r') as file:
    myData = file.readlines()
    Out = []
    for line in myData:
        Out.append(nltk.pos_tag(word_tokenize(line)))

NameError: name 'flat_list' is not defined

In [44]:
from nltk.tag import DefaultTagger
tag = DefaultTagger('He is the man')
tag.tag(['Beautiful','morning'])

[('Beautiful', 'He is the man'), ('morning', 'He is the man')]

In [58]:
!pip install --trusted-host pypi.python.org autocorrect

Requirement already satisfied: autocorrect in c:\users\magu\anaconda3\lib\site-packages

In [60]:
from autocorrect import spell
spell('Tghe')

'The'

In [62]:
!pip install --trusted-host pypi.python.org textblob

Collecting textblob
  Downloading textblob-0.15.1-py2.py3-none-any.whl (631kB)
Requirement already satisfied: nltk>=3.1 in c:\users\magu\anaconda3\lib\site-packages (from textblob)
Requirement already satisfied: six in c:\users\magu\anaconda3\lib\site-packages (from nltk>=3.1->textblob)
Installing collected packages: textblob
Successfully installed textblob-0.15.1

C:\Users\Magu\Anaconda3\lib\site-packages\urllib3\connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
C:\Users\Magu\Anaconda3\lib\site-packages\urllib3\connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [63]:
from textblob import TextBlob
b = TextBlob("I havv good speling")
print(b.detect_language())
print(b.correct())

en
I have good spelling

In [64]:
from textblob import Word
w = Word('falability')
w.spellcheck()

[('fallibility', 0.3333333333333333),
 ('capability', 0.3333333333333333),
 ('affability', 0.3333333333333333)]

In [67]:
!pip install --trusted-host pypi.python.org langdetect

Collecting langdetect
  Downloading langdetect-1.0.7.zip (998kB)
Requirement already satisfied: six in c:\users\magu\anaconda3\lib\site-packages (from langdetect)
Building wheels for collected packages: langdetect
  Running setup.py bdist_wheel for langdetect: started
  Running setup.py bdist_wheel for langdetect: finished with status 'done'
  Stored in directory: C:\Users\Magu\AppData\Local\pip\Cache\wheels\6f\8c\3b\ffa8151e27effd7de2a7d3194650d78fe6e4d4a3c175a74867
Successfully built langdetect
Installing collected packages: langdetect
Successfully installed langdetect-1.0.7

C:\Users\Magu\Anaconda3\lib\site-packages\urllib3\connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
C:\Users\Magu\Anaconda3\lib\site-packages\urllib3\connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [68]:
from langdetect import detect
print(detect("War doesn't show who's right, just who's left."))
print(detect("Ein, zwei, drei, vier"))
print(detect("Eu gosto de mulher"))

en
de
pt

In [70]:
en_blob = TextBlob("I am a free black man loved by Jesus Christ.")
en_blob.translate(to='pt')

TextBlob("Eu sou um homem preto livre amado por Jesus Cristo.")

In [71]:
blob = TextBlob("I am a free black man loved by Jesus Christ. Test 123.")
blob.sentences

[Sentence("I am a free black man loved by Jesus Christ."),
 Sentence("Test 123.")]

In [75]:
for sentence in blob.sentences:
    print(len(sentence))

44
9

In [78]:
print(blob.sentences[1])

Test 123.

In [81]:
print(blob.sentences[1].words)

['Test', '123']

In [83]:
from textblob import Word
word = Word('Car')
print(word.pluralize())

Cars

In [84]:
TextBlob("I am a free black man loved by Jesus Christ.").sentiment

Sentiment(polarity=0.3111111111111111, subjectivity=0.6777777777777777)

In [85]:
TextBlob("Drink all day").sentiment

Sentiment(polarity=0.0, subjectivity=0.0)

In [ ]:
#have to attach number/value to words
    #frequency per document or term frequency (per line)
#sparse matrix include frequencies

In [91]:
import numpy as np
import pandas as pd
import scipy as sp
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
simple_train = ['Call you tonight','Call me a cab','please call me']
vect = CountVectorizer()
tf = pd.DataFrame(vect.fit_transform(simple_train).toarray(),columns = vect.get_feature_names())
tf

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       1        0    0

In [94]:
vect = CountVectorizer(binary=True)
df = vect.fit_transform(simple_train).toarray().sum(axis=0)
pd.DataFrame(df.reshape(1,6),columns=vect.get_feature_names())

   cab  call  me  please  tonight  you
0    1     3   2       1        1    1

In [95]:
tf/df #Normalize the data

   cab      call   me  please  tonight  you
0  0.0  0.333333  0.0     0.0      1.0  1.0
1  1.0  0.333333  0.5     0.0      0.0  0.0
2  0.0  0.333333  0.5     1.0      0.0  0.0

In [98]:
vect = TfidfVectorizer()
pd.DataFrame(vect.fit_transform(simple_train).toarray(),columns=vect.get_feature_names())

        cab      call        me    please   tonight       you
0  0.000000  0.385372  0.000000  0.000000  0.652491  0.652491
1  0.720333  0.425441  0.547832  0.000000  0.000000  0.000000
2  0.000000  0.425441  0.547832  0.720333  0.000000  0.000000

In [99]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(min_df=1)
print(vectorizer)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [102]:
corpus = ["This is the first document","This is the second document","This is the third document"]
X = vectorizer.fit_transform(corpus)
tf = pd.DataFrame(X.toarray(),columns= vectorizer.get_feature_names())
tf

   document  first  is  second  the  third  this
0         1      1   1       0    1      0     1
1         1      0   1       1    1      0     1
2         1      0   1       0    1      1     1

In [103]:
print(X)

  (0, 0)	1
  (0, 1)	1
  (0, 4)	1
  (0, 2)	1
  (0, 6)	1
  (1, 3)	1
  (1, 0)	1
  (1, 4)	1
  (1, 2)	1
  (1, 6)	1
  (2, 5)	1
  (2, 0)	1
  (2, 4)	1
  (2, 2)	1
  (2, 6)	1

In [105]:
#ngrams - a combination of multiple words
message = "nltk offers many types of ngrams. Among any orders, the ones that are used the most are bigrams and trigrams. However, one can go ten grams, \hundred and even thousand grams depending on what they are trying to do"

In [106]:
my_tokens = nltk.word_tokenize(message)

In [112]:
bigrams = ngrams(my_tokens,2) #for feature engineering
bigrams

In [115]:
my_tri_grams = ngrams(my_tokens,3)#for feature engineering

In [ ]:
biGram = ngrams_constructor

In [118]:
#Yelp Review
import pandas as pd
import numpy as np
import scipy as sp
from sklearn.cross_validation import train_test_split
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from textblob import TextBlob, Word
from nltk.stem.snowball import SnowballStemmer
%matplotlib inline

In [119]:
yelp = pd.read_csv('yelp.csv')
yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,1/26/2011,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,7/27/2011,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,6/14/2012,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,5/27/2010,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,1/5/2012,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [120]:
yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
business_id    10000 non-null object
date           10000 non-null object
review_id      10000 non-null object
stars          10000 non-null int64
text           10000 non-null object
type           10000 non-null object
user_id        10000 non-null object
cool           10000 non-null int64
useful         10000 non-null int64
funny          10000 non-null int64
dtypes: int64(4), object(6)
memory usage: 781.3+ KB

In [121]:
yelp.describe()

              stars          cool        useful         funny
count  10000.000000  10000.000000  10000.000000  10000.000000
mean       3.777500      0.876800      1.409300      0.701300
std        1.214636      2.067861      2.336647      1.907942
min        1.000000      0.000000      0.000000      0.000000
25%        3.000000      0.000000      0.000000      0.000000
50%        4.000000      0.000000      1.000000      0.000000
75%        5.000000      1.000000      2.000000      1.000000
max        5.000000     77.000000     76.000000     57.000000

In [122]:
mean_by_group = yelp.groupby('stars').mean()
mean_by_group

           cool    useful     funny
stars
1      0.576769  1.604806  1.056075
2      0.719525  1.563107  0.875944
3      0.788501  1.306639  0.694730
4      0.954623  1.395916  0.670448
5      0.944261  1.381780  0.608631

In [123]:
mean_by_group.corr()
#stepwise feature selection for feature engineering

            cool    useful     funny
cool    1.000000 -0.743329 -0.944939
useful -0.743329  1.000000  0.894506
funny  -0.944939  0.894506  1.000000

In [129]:
yelp_best_worst = yelp[(yelp.stars==5) | (yelp.stars==1)]
yelp_best_worst.reset_index(drop=True,inplace=True)

x = yelp_best_worst.text
y = yelp_best_worst.stars

print(x.shape)

x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=1)

(4086,)

In [131]:
vect = CountVectorizer()
x_train_dtm = vect.fit_transform(x_train)
print(x_train_dtm)
x_test_dtm=vect.transform(x_test)

  (0, 13745)	1
  (0, 4837)	1
  (0, 16394)	1
  (0, 7149)	1
  (0, 3999)	1
  (0, 2069)	1
  (0, 14721)	1
  (0, 12622)	1
  (0, 5882)	1
  (0, 6154)	1
  (0, 12038)	1
  (0, 15281)	1
  (0, 7345)	1
  (0, 1902)	1
  (0, 7023)	1
  (0, 15067)	1
  (0, 12808)	1
  (0, 2398)	1
  (0, 13462)	1
  (0, 9301)	2
  (0, 3213)	1
  (0, 15683)	1
  (0, 6028)	1
  (0, 1528)	1
  (0, 805)	4
  :	:
  (3063, 8189)	2
  (3063, 5333)	1
  (3063, 15042)	1
  (3063, 7181)	1
  (3063, 15968)	1
  (3063, 10352)	2
  (3063, 879)	1
  (3063, 9318)	1
  (3063, 2312)	1
  (3063, 16252)	2
  (3063, 6868)	2
  (3063, 6481)	1
  (3063, 6006)	2
  (3063, 9440)	1
  (3063, 353)	1
  (3063, 12038)	1
  (3063, 15281)	1
  (3063, 7023)	1
  (3063, 805)	2
  (3063, 14720)	1
  (3063, 15228)	1
  (3063, 15032)	2
  (3063, 15834)	1
  (3063, 15093)	2
  (3063, 4631)	1

In [132]:
tf = pd.DataFrame(x_train_dtm.toarray(),columns=vect.get_feature_names())
tf.head()

,00,000,00a,00am,00pm,01,02,03,03342,04,...,zucchini,zuchinni,zumba,zupa,zuzu,zwiebel,zzed,éclairs,école,ém
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [134]:
x_train.head()

2790    FILLY-B's!!!!!  only 8 reviews?? NINE now!!!\n...
725     My husband and I absolutely LOVE this restaura...
1578    We went today after lunch. I got my usual of l...
282     Totally dissapointed.  I had purchased a coupo...
2024    Costco Travel - My husband and I recently retu...
Name: text, dtype: object

In [135]:
vect = CountVectorizer(lowercase=False)
x_train_dtm = vect.fit_transform(x_train)
x_train_dtm.shape

(3064, 20838)

In [136]:
vect = CountVectorizer(ngram_range=(1,2))
x_train_dtm = vect.fit_transform(x_train)
x_train_dtm.shape

(3064, 169847)

In [138]:
vect = CountVectorizer()
x_train_dtm = vect.fit_transform(x_train)
x_test_dtm = vect.transform(x_test)

#Naive Bayes
nb = MultinomialNB()
nb.fit(x_train_dtm,y_train)
y_pred_class = nb.predict(x_test_dtm)

print(metrics.accuracy_score(y_test,y_pred_class))

0.918786692759

In [ ]:
#95% accuracy is probably overfitting

In [139]:
def tokenize_test(vect):
    x_train_dtm = vect.fit_transform(x_train)
    print('Features: ',x_train_dtm.shape[1])
    x_test_dtm = vect.transform(x_test)
    nb = MultinomialNB()
    nb.fit(x_train_dtm,y_train)
    y_pred_class = nb.predict(x_test_dtm)
    print('Accuracy: ',metrics.accuracy_score(y_test,y_pred_class))

In [143]:
vect = CountVectorizer(ngram_range=(1,2))
tokenize_test(vect)

Features:  169847
Accuracy:  0.854207436399

In [ ]:
#stopwords are built into library 
#stopwords are frequently used words that are automatically dropped from the analysis
    #can append the list of stopwords. split or tokenize to create a list, then append words the list. 
    #remiving stopwords will increase the accuracy
    #must specify the language

In [144]:
set([1,1,2,2,3,4,5])

{1, 2, 3, 4, 5}

In [ ]:
set(stopwords.words)